<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>
<hr>
<div class="container">
  <a class="btn btn-default" (click)="animar()">Animate!</a>
  <div class="row">
    <div class="col-md-8">
      <h2>Lugares cercanos</h2>
      <div class="btn btn-primary margin-2em" routerLink="/crear/new">Crear nuevo negocio</div>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">
          <li *ngIf="lugar.active" class="list-group-item">
            <a routerLink="/crear/{{lugar.id}}">
              <h3>{{lugar.name}}</h3>
            </a>
            <br>
            <small>Creado: {{lugar.id | date:'fullDate'}}</small>
            <br>
            <p [innerHtml]="lugar.description | linkifysrc"></p>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4" [@contenedorAnimable]="state">
      <h2>Destacados</h2>
      <ng-container *ngFor="let lugar of lugares">
        <div *ngIf="lugar.plan == 'pagado'" class="alert alert-warning pd-10">
          <a routerLink="/crear/{{lugar.id}}">
            <h3>{{lugar.name}}</h3>
          </a>
          <br>
          <p [innerHtml]="lugar.description | linkifysrc"></p>
        </div>
      </ng-container>
    </div>
  </div>
</div>