<div class="container">
  <div class="row">
    <div class="col-md-4 offset-4 col-md-4">
      <div class="jumbotron">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="loginParams.email" class="form-control" />
          <br>
          <label>Contraseña</label>
          <input type="password" [(ngModel)]="loginParams.password" class="form-control" />
          <hr>
          <div (click)="login()" class="btn btn-warning btn-block">Login con email!</div>
          <div (click)="facebookLogin()" class="btn btn-primary btn-block">Login con facebook!</div>
          <div class="btn btn-default btn-block">Cancelar</div>
        </div>
      </div>
    </div>
  </div>
</div>