<div class="container">
  <div class="row">
    <div class="col-md-4 offset-4 col-md-4">
      <div class="jumbotron">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" />
          <br>
          <label>Contraseña</label>
          <input type="password" class="form-control" />
          <hr>
          <div (click)="registrarse('email', 'pass')" class="btn btn-primary btn-block">Registrarse!</div>
          <div class="btn btn-default btn-block">Cancelar</div>
        </div>
      </div>
    </div>
  </div>
</div>